<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>nw.filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminLoginFitlter</filter-name>
        <filter-class>nw.filter.AdminLoginFitlter</filter-class>
    </filter>
    <filter>
        <filter-name>JournalistLoginFilter</filter-name>
        <filter-class>nw.filter.JournalistLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminLoginFitlter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JournalistLoginFilter</filter-name>
        <url-pattern>/journalist/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>adminLoginServlet</servlet-name>
        <servlet-class>nw.controller.adminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>journalistComposeServlet</servlet-name>
        <servlet-class>nw.controller.journalistComposeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>journalistLibaryServlet</servlet-name>
        <servlet-class>nw.controller.journalistLibaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDashboardServlet</servlet-name>
        <servlet-class>nw.controller.adminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>nw.controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAccountServlet</servlet-name>
        <servlet-class>nw.controller.adminAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>journalistDashboardServlet</servlet-name>
        <servlet-class>nw.controller.journalistDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>journalistListOfArticlesServlet</servlet-name>
        <servlet-class>nw.controller.journalistListOfArticlesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAccountSubmitServlet</servlet-name>
        <servlet-class>nw.controller.adminAccountSubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>journalistComposeServlet</servlet-name>
        <url-pattern>/journalist/compose</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>journalistLibaryServlet</servlet-name>
        <url-pattern>/journalist/libary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDashboardServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAccountServlet</servlet-name>
        <url-pattern>/admin/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>journalistDashboardServlet</servlet-name>
        <url-pattern>/journalist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>journalistListOfArticlesServlet</servlet-name>
        <url-pattern>/journalist/List-of-Articles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAccountSubmitServlet</servlet-name>
        <url-pattern>/admin/account/submit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
